* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.home-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
}

.card {
  width: 20rem;
}

.card>img {
  width: 300px;
  height: 300px;
}

.cart-card {
  border: 1px solid blue;
  padding: 5px 10px;
}